{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Title</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.user_id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
